/* PAGE WRAPPER (prevents affecting other pages) */
.start-page {
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
  font-family: "Georgia", serif;
}

/* REMOVE WHITE LINE ISSUE */
.start-page * {
  box-sizing: border-box;
}

/* TOP BAR */
.start-topbar {
  height: 55px;
  background: #1fe0d2;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.start-logo {
  width: 35px;
  height: 35px;
  background: #e6f7f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
}

/* MAIN LAYOUT */
.start-content {
  display: flex;
  height: calc(100vh - 55px);
}

/* LEFT SECTION */
.start-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-left h1 {
  color: white;
  font-size: 90px;
  font-style: italic;
}

/* RIGHT SECTION */
.start-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SIGNUP CARD */
.signup-card {
  width: 380px;
  background: linear-gradient(#2b2b2b, #1f1f1f);
  padding: 30px;
  border-radius: 10px;
  color: white;
}

.signup-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* BUTTONS */
.google-btn {
  width: 100%;
  padding: 10px;
  border-radius border-radius: 6px;
  border: none;
  margin-bottom: 15px;
  font-weight: bold;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  background: #1fe0d2;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
}

/* INPUTS */
.signup-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
}

/* TEXTS */
.or-text {
  text-align: center;
  margin: 10px 0;
}

.otp-link {
  display: block;
  color: #2f63ff;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-text span {
  color: purple;
  cursor: pointer;
}
